<h1 class = "text-center"> Bienvenido a la informacion necesaria para los estudiantes de la UTP</h1>
<p class = "text-center">Aqui encontraras links interesantes para tu semestre!</p>

<div class = "btn-group">
<%= link_to "http://www.utp.ac.pa/documentos/2016/pdf/utp-calendario-academico-2017-2018_0.pdf", target: :blank do %>
<button type="button" class="btn btn-info">Calendario academico</button>
<% end%>
</div>